<a href="https://colab.research.google.com/github/Tanishkar12/titanic-preprocessing/blob/main/titanic_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing all the required libraries for preprocessing
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
#Load the Dataset
df=pd.read_csv("Titanic-Dataset.csv")

In [ ]:
#First five Columns
df.head()

In [ ]:
#Shape of the dataset
print(df.shape)
#Numerical Features Description Such as mean,std etc
print(df.describe())
#Gives datatypes etc.
print(df.info())

In [ ]:
#To get all the null Values
df.isnull().sum()

In [ ]:
#Filling the null values with mean age
df["Age"]=df["Age"].fillna(df["Age"].mean())
print(df["Age"])
#Checking
print(df["Age"].isnull().sum())

In [ ]:
#Removing the two rows that contains null values for Barked feature
df.dropna(subset=['Embarked'])

In [ ]:
#Shape after Removing
df.shape

In [ ]:
#Finding Ouliers using seaborn and matplotlib
sns.boxplot(x=["Survived"])

In [ ]:
#Selection of Numeric features
num_cols = df.select_dtypes(include=['int64','float64']).columns
print(num_cols)

In [ ]:
#finding ouliers using inter quatile range
outliers_iqr = {}
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    outliers_iqr[col] = df[(df[col] < lower) | (df[col] > upper)].shape[0]
print(outliers_iqr)

In [ ]:
#encoding categorical features using labelencoder eg:sex
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["sex_encoded"] = le.fit_transform(df["Sex"])

In [ ]:
#ordinal
df = pd.get_dummies(df, columns=["Embarked"], prefix="Embarked")

In [ ]:
#standadization
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[["age_std","fare_std"]] = scaler.fit_transform(df[["Age","Fare"]])

In [ ]:
#Normalization
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
df[["age_norm","fare_norm"]] = mm.fit_transform(df[["Age","Fare"]])